<div class="wrapper">
	<form action="/ikea/login.do">
	<div class="loginBox">
		<div class="loginBoxCenter">
			<p><label for="username">姓名：</label></p>
			<p><input id="name" name="name" class="loginInput" autofocus="autofocus" required="required" autocomplete="off" placeholder="请输入电子邮箱" value="" /></p>
			<p><label for="password">密码：</label><a class="forgetLink" href="#">忘记密码?</a></p>
			<p><input type="password" id="password" name="password" class="loginInput" required="required" placeholder="请输入密码" value="" /></p>
		</div>
		<div class="loginBoxButtons">
			<input id="remember" type="checkbox" name="remember" />
			<label for="remember">记住登录状态</label>
			<button class="loginBtn">登录</button>
		</div>
	</div>
	</form>
</div>
