<div style="width:750.0px;background:#ffffff;font-family:microsoft yahei;overflow:hidden;margin:auto;padding:0;">
	<div style="float:left;width:750.0px;height:335.0px;">
		<img src="http://img02.taobaocdn.com/imgextra/i2/42635718/T2XPcpXjNXXXXXXXXX_!!42635718.png">
	</div>
<a href="http://www.taobao.com/webww/?spm=2013.1.0.109.Amn5kr&amp;ver=1&amp;&amp;touid=cntaobaocharick&amp;siteid=cntaobao&amp;status=2&amp;portalId=&amp;gid=&amp;itemsId=" target="_blank" title="点此可以直接和卖家交流选好的宝贝。" data-spm-anchor-id="2013.1.0.98">		
<img src="http://img04.taobaocdn.com/imgextra/i4/42635718/T2YWz8XftXXXXXXXXX_!!42635718.gif" style="float:left;width:33.0px;height:33.0px;margin-left:303px;margin-top: -80px;">
</a>
<a target="_blank" border="0" href="http://shuo.taobao.com/microshop/shop_middle_page.htm?spm=2013.1.w4068-1713556922.1.ZlJgoF&amp;shopOwnerId=42635718&amp;tracelog=jinbifc_coin" title="点此收藏本店，可获赠5个淘金币">
<img src="http://img02.taobaocdn.com/imgextra/i2/42635718/T2.p_8Xd8XXXXXXXXX_!!42635718.gif" style="float:right;width:103.0px;height:99.0px;margin-right:0px;margin-top: -110px;">
</a>

<img src="http://img02.taobaocdn.com/imgextra/i2/42635718/T2gvwcXjlaXXXXXXXX_!!42635718.png" style="float: left;width: 750px;height: 39px;">
	<div style="float: left;width:690px;margin: 0px 0px 0px 9px;padding:20px;border-left:1px solid #cccccc;border-right:1px solid #cccccc;overflow: hidden;">	
	<div style="float:left;width:650px;margin:0px 50px 0px 50px;">
<div style="color:#545149;font-size:25.0px;margin:10px;line-height:35px;font-family:microsoft yahei;">
				本不想说的声明
</div>
<div style="height:1px;margin-top:-1px;overflow:hidden;"><br></div>
					
<span style="font-size:14px;line-height:30px;">宜家代购的采货价格即为产品标价，产品本身根本不存在利润。<br>
所谓【免代购费】只不过是无良JS的文字游戏。免了代购费，却在运费上暗中加价，欺骗消费者！<br>
<b>趣活宜家代购采用<font color="red">真实运费</font>并由后台系统<font color="blue">自动计算代购费</font>。给您最快捷、透明的代购服务！</b></span><br>
<span style="font-size:12px;color:#999999;">代购费收费细则请见：http://lkea.taobao.com/p/payment.htm</span>

	<div style="height:1px;margin-top:-1px;overflow:hidden;"><br></div>	
	</div></div>
<img src="http://img01.taobaocdn.com/imgextra/i1/42635718/T2tWggXkFaXXXXXXXX_!!42635718.png">
<img src="http://img02.taobaocdn.com/imgextra/i2/42635718/T2gvwcXjlaXXXXXXXX_!!42635718.png" style="float: left;width: 750px;height: 39px;">
	<div style="float: left;width:690px;margin: 0px 0px 0px 9px;padding:20px;border-left:1px solid #cccccc;border-right:1px solid #cccccc;overflow: hidden;">	
	<div style="color:#545149;font-size:25.0px;margin:10px;line-height:35px;font-family:microsoft yahei;">
				代购问题Q&amp;A
</div>
<div style="height:1px;margin-top:-1px;overflow:hidden;"><br></div>
<span style="font-size:12px;line-height:30px;font-weight:bold;">Q:这款运到XXX运费加代购费多少钱？</span><br>
<span style="font-size:12px;line-height:24px;">A:本店所有产品已经按地区设置了精确的运费，多件同拍运费自动按总重量计算。代购费会在亲提交订单后自动加入订单中，亲直接拍下即可！</span><br>
<span style="font-size:12px;color:#99cc00;">Tips:再也不需要等待客服一件一件加重量、算运费、加总价、算代购费，浪费宝贵的时间（生命）了！</span><br>
<div style="height:1px;border-top:1px solid;color:#eeeeee;overflow:hidden;"><br></div>
<span style="font-size:12px;line-height:30px;font-weight:bold;">Q:感觉自动计算的费用不对呢？</span><br>
<span style="font-size:12px;line-height:24px;">A:如果对订单有疑问，欢迎您随时联系我们的在线客服，请客服为您人工核对运费及代购费。</span><br>
<div style="height:1px;border-top:1px solid;color:#eeeeee;overflow:hidden;"><br></div>
<span style="font-size:12px;line-height:30px;font-weight:bold;">Q:我想买大件儿，发快递太贵了，可以发物流吗？</span><br>
<span style="font-size:12px;line-height:24px;">A:当然可以，请直接联系客服，咨询物流运费及离您最近的到货网点。物流费用真的不是比快递便宜一点哦~</span><br>
<div style="height:1px;border-top:1px solid;color:#eeeeee;overflow:hidden;"><br></div>
<span style="font-size:12px;line-height:30px;font-weight:bold;">Q:这款有货吗？</span><br>
<span style="font-size:12px;line-height:24px;">A:目前还需要咨询客服，今后会实现本店库存和宜家库存同步。</span><br>
<div style="height:1px;border-top:1px solid;color:#eeeeee;overflow:hidden;"><br></div>
<span style="font-size:12px;line-height:30px;font-weight:bold;">Q:我想买的东西店里没有怎么办？</span><br>
<span style="font-size:12px;line-height:24px;">A:所有宜家产品我们都可为您代购。我们的后台系统可以直接从宜家官网获取产品信息，亲只需提供货号，即可为您瞬间上架！</span><br>
<div style="height:1px;border-top:1px solid;color:#eeeeee;overflow:hidden;"><br></div>
<span style="font-size:12px;line-height:30px;font-weight:bold;">Q:收到货坏了怎么办？</span><br>
<span style="font-size:12px;line-height:24px;">A:快递来送货时，亲务必务要当快递的面检查好货物有没有损坏，有损坏就直接拒签！我们会赔偿您全部损失，给您100%满意！</span><br>
</div>
<img src="http://img01.taobaocdn.com/imgextra/i1/42635718/T2tWggXkFaXXXXXXXX_!!42635718.png">

<div style=" clear: both;height:1px;margin-top:-1px;overflow:hidden;background:#ffffff;"></div>
<div style="float:left;width:750.0px;height:64.0px;font-size:20.0px;text-align:center;line-height:64px;">
			#if ($null.isNotNull($itemList) && $itemList.size()>0)
				${itemList.get($0).name}${itemList.get($0).facts}-产品介绍
			#end
</div>
#if($itemList.size()==1)			
<div style="float:left;width:750px;">
<img src="http://img01.taobaocdn.com/imgextra/i1/42635718/T2aydBXmNNXXXXXXXX_!!42635718.png" style="float: left;width: 750px;height: 36px;">
<div style="float: left;width:730px;margin: 0px 0px 0px 9px;border-left:1px solid #cccccc;border-right:1px solid #cccccc;overflow: hidden;">	
<div style="width:202.0px;height: 368px;float:left;">
	<div style="width: 190.0px;height: 366px;float:left;margin-left: 6px;">
		<img src="http://img04.taobaocdn.com/imgextra/i4/42635718/T2raogXkhaXXXXXXXX_!!42635718.png">
	</div>
	<div style="float:left;margin: -363px 0px 0px 20px;">
		<img src="$itemList.get(0).getTbPICs().get(0)" style="width:160.0px;height:160.0px;">
		<div style="float:left;width: 150.0px;overflow:hidden;margin-top: 20px;">
				<div style="font-size: 14.0px;text-align:center;line-height:24px;">￥ $itemList.get(0).price
				<br>ID : ${itemList.get($0).pid}
#if($itemList.get($0).designer!="null")	
				<br>
	<span style="font-size:12px;">By ${itemList.get($0).designer}
#end
</span></div>
				</div>
		<div style="float:left;width:150px;height:30px;margin-top: 30px;">
			<a href="http://www.taobao.com/webww/?spm=2013.1.0.98.shIRz6&amp;ver=1&amp;touid=cntaobaocharick&amp;siteid=cntaobao&amp;status=2&amp;portalId=&amp;gid=24001012735&amp;itemsId=" target="_blank" title="点击查看大图" data-spm-anchor-id="2013.1.0.98">		
			<img src="http://img01.taobaocdn.com/imgextra/i1/42635718/T27LZeXmBXXXXXXXXX_!!42635718.png" style="float:left;width:110px;margin-left: 30px;"><div style="width: 110px;margin-left: -116px;float: left;text-shadow: 0 1px 0 rgb(255, 255, 255);color: rgb(133, 124, 124);text-align: center;line-height: 30px;">浏览大图</div>
			</a>
		</div>
	</div>
</div>

<div style="width:475.0px;margin: 10px 0px 0px 20px;float:left;font-size:12.0px;line-height:24px;font-family:simsun;">	
#if($itemList.get($0).custBenefit!="null")	
	<div style="float:left;width:475.0px;border-bottom:1px solid #ededed;font-family:microsoft yahei;">
	<img src="http://img01.taobaocdn.com/imgextra/i1/42635718/T2Xg2.XbXaXXXXXXXX_!!42635718.png" style="float:left;">
	<span style="font-size:18px;">属性</span><span style="font-size:12px;">info</span></div>
	<div style="float:left;width: 475.0px;color:#7a7a7a;margin:10px;">${itemList.get($0).custBenefit}</div>		
#end
#if($itemList.get($0).assembledSize!="null")	
	<div style="float:left;width:475.0px;border-bottom:1px solid #ededed;font-family:microsoft yahei;">
	<img src="http://img02.taobaocdn.com/imgextra/i2/42635718/T2re_dXfFbXXXXXXXX_!!42635718.png" style="float:left;">
	<span style="font-size:18px;">尺寸</span><span style="font-size:12px;">size</span></div>
	<div style="float:left;width: 475.0px;color:#7a7a7a;margin:10px;">${itemList.get($0).assembledSize.replace("<br>",",")}</div>	
#end
#if($itemList.get($0).goodToKnow!="null")	
	<div style="float:left;width:475.0px;border-bottom:1px solid #ededed;font-family:microsoft yahei;">
	<img src="http://img02.taobaocdn.com/imgextra/i2/42635718/T2MDC1XeVbXXXXXXXX_!!42635718.png" style="float:left;">
	<span style="font-size:18px;">提示</span><span style="font-size:12px;">tips</span></div>
	<div style="float:left;width: 475.0px;color:#7a7a7a;margin:10px;">${itemList.get($0).goodToKnow}</div>  	
#end
#if($itemList.get($0).careInst!="null")	
	<div style="float:left;width:475.0px;border-bottom:1px solid #ededed;font-family:microsoft yahei;">
	<img src="http://img04.taobaocdn.com/imgextra/i4/42635718/T2QIsiXaVaXXXXXXXX_!!42635718.png" style="float:left;">
	<span style="font-size:18px;">保养</span><span style="font-size:12px;">care</span></div>
	<div style="float:left;width: 475.0px;color:#7a7a7a;margin:10px;">${itemList.get($0).careInst}</div>  	
#end
#if($itemList.get($0).custMaterials!="")	
	<div style="float:left;width:475.0px;border-bottom:1px solid #ededed;font-family:microsoft yahei;">
	<img src="http://img04.taobaocdn.com/imgextra/i4/42635718/T2zgXbXhtOXXXXXXXX_!!42635718.png" style="float:left;">
	<span style="font-size:18px;">材质</span><span style="font-size:12px;">materials</span></div>
	<div style="float:left;width: 475.0px;color:#7a7a7a;margin:10px;">${itemList.get($0).custMaterials}</div>  
#end
#if($itemList.get($0).environment!="null")	
	<div style="float:left;width:475.0px;border-bottom:1px solid #ededed;font-family:microsoft yahei;">
	<img src="http://img01.taobaocdn.com/imgextra/i1/42635718/T2jDVbXbpOXXXXXXXX_!!42635718.png" style="float:left;">
	<span style="font-size:18px;">环保</span><span style="font-size:12px;">environment</span></div>
	<div style="float:left;width: 475.0px;color:#7a7a7a;margin:10px;">${itemList.get($0).environment}</div>  
#end
</div>
</div>
<img src="http://img01.taobaocdn.com/imgextra/i1/42635718/T2tWggXkFaXXXXXXXX_!!42635718.png">		

</div>
#else
<div style="float:left;width:750px;">
<img src="http://img02.taobaocdn.com/imgextra/i2/42635718/T2gvwcXjlaXXXXXXXX_!!42635718.png" style="float: left;width: 750px;height: 39px;">
<div style="float: left;width:600px;margin: 0px 0px 0px 9px;padding:0px 65px 0px 65px;border-left:1px solid #cccccc;border-right:1px solid #cccccc;overflow: hidden;">	
<div style="float:left;width:600.0px;border-bottom:1px solid #ededed;font-family:microsoft yahei;">
<img src="http://img01.taobaocdn.com/imgextra/i1/42635718/T2JkHKXfVaXXXXXXXX_!!42635718.png" style="float:left;">
	<span style="font-size:18px;">配色和尺寸</span><span style="font-size:12px;">color&amp;type</span></div>
<div style="display:inline;float:left;width:600.0px;margin:10px;">
#foreach( $item in $itemList)
			<img src="$item.getTbPICs().get(0)" style="width:40.0px;height:40.0px;border:1px solid #cccccc;margin: 2px;">
#end

</div>
#if($null.isNotNull($itemList) && $itemList.size()>0)
#if($null.isNotNull($itemList) && $itemList.size()>0 && $itemList.get($0).custBenefit!="null")
	<div style="float:left;width:600.0px;border-bottom:1px solid #ededed;font-family:microsoft yahei;">
	<img src="http://img01.taobaocdn.com/imgextra/i1/42635718/T2Xg2.XbXaXXXXXXXX_!!42635718.png" style="float:left;">
	<span style="font-size:18px;">属性</span><span style="font-size:12px;">info</span></div>
	<div style="float:left;color:#7a7a7a;margin:10px;">${itemList.get($0).custBenefit}</div>		
#end
#if($itemList.get($0).goodToKnow!="null")	
	<div style="float:left;width:600.0px;border-bottom:1px solid #ededed;font-family:microsoft yahei;">
	<img src="http://img02.taobaocdn.com/imgextra/i2/42635718/T2re_dXfFbXXXXXXXX_!!42635718.png" style="float:left;">
	<span style="font-size:18px;">提示</span><span style="font-size:12px;">tips</span></div>
	<div style="float:left;color:#7a7a7a;margin:10px;">${itemList.get($0).goodToKnow}</div>  	
#end
#if($itemList.get($0).careInst!="null")	
	<div style="float:left;width:600.0px;border-bottom:1px solid #ededed;font-family:microsoft yahei;">
	<img src="http://img04.taobaocdn.com/imgextra/i4/42635718/T2QIsiXaVaXXXXXXXX_!!42635718.png" style="float:left;">
	<span style="font-size:18px;">保养</span><span style="font-size:12px;">care</span></div>
	<div style="float:left;color:#7a7a7a;margin:10px;">${itemList.get($0).careInst}</div>  	
#end
#if($itemList.get($0).custMaterials!="")	
	<div style="float:left;width:600.0px;border-bottom:1px solid #ededed;font-family:microsoft yahei;">
	<img src="http://img04.taobaocdn.com/imgextra/i4/42635718/T2zgXbXhtOXXXXXXXX_!!42635718.png" style="float:left;">
	<span style="font-size:18px;">材质</span><span style="font-size:12px;">materials</span></div>
	<div style="float:left;color:#7a7a7a;margin:10px;">${itemList.get($0).custMaterials}</div>  
#end
#if($itemList.get($0).environment!="null")	
	<div style="float:left;width:600.0px;border-bottom:1px solid #ededed;font-family:microsoft yahei;">
	<img src="http://img01.taobaocdn.com/imgextra/i1/42635718/T2jDVbXbpOXXXXXXXX_!!42635718.png" style="float:left;">
	<span style="font-size:18px;">环保</span><span style="font-size:12px;">environment</span></div>
	<div style="float:left;color:#7a7a7a;margin:10px;">${itemList.get($0).environment}</div>  
#end
#end
</div>
<img src="http://img01.taobaocdn.com/imgextra/i1/42635718/T2tWggXkFaXXXXXXXX_!!42635718.png">		

</div>

<div style="float:left;width:750.0px;margin:0px;padding:0px;overflow:hidden;background:#ffffff;">
#foreach( $item in $itemList)
<div style="float:left;width:375.0px;height:298.0px;margin:0px;padding:0px;">			
			
<div style="float:left;width:375.0px;height:278.0px;margin:10px 0px 10px 10px;">			
<img src="http://img04.taobaocdn.com/imgextra/i4/42635718/T2HP3dXg8aXXXXXXXX_!!42635718.png">
</div>
<div style="display:inline;float: left;background:${item.colorCode};margin: -267px 0px 0px 12px;width: 170.0px;height: 190px;">
</div>					
<div style="float:left;width: 162.0px;height: 150.0px;background: #ffffff;overflow:hidden;margin-left: 15px;margin-top:-250px;border: 1px solid #cccccc;">
			<img src="$item.getTbPICs().get(0)" style="width:150.0px;height:150.0px;">
		</div>
<div style="float:right;width:175.0px;height: 200.0px;overflow:hidden;margin-right: -5px;margin-top: -262px;">
<div style="display:inline;float:left;width:145.0px;color:black;font-family:microsoft yahei;font-size: 12px;line-height:26px;text-align: left;">
ID：${item.pid}<br>${item.assembledSize.replace("  ","<br/>")}   </div>				   		
</div>
<div style="float:left;width:375px;height:30px;margin-top: -61px;margin-left: 104px;">
		<a href="#" title="选择不同颜色请备注型号ID">		
<img src="http://img01.taobaocdn.com/imgextra/i1/42635718/T27LZeXmBXXXXXXXXX_!!42635718.png" style="float:left;width:110px;margin-left: 30px;"><div style="width: 110px;margin-left: -116px;float: left;text-shadow: 0 1px 0 rgb(255, 255, 255);color: rgb(133, 124, 124);text-align: center;line-height: 30px;">￥${item.price}</div>
</a>
</div>	
</div>
#end
</div>		

#end
<div style="float:left;width:750.0px;height:64.0px;font-size:20.0px;text-align:center;line-height:64px;">			
				${itemList.get($0).name}${itemList.get($0).facts}-产品画廊
</div>
#foreach( $item in $itemList)
#foreach($picUrl in $item.getTbPICs())
#set($i=$math.sub($velocityCount,1))
#if($i==0)
<div style="width:750.0px;height:375px;overflow:hidden;float:left;overflow:hidden;">
<img src="http://img01.taobaocdn.com/imgextra/i1/42635718/T2PfedXlBcXXXXXXXX_!!42635718.png">
</div>
<div style="width:375px;height:375px;margin-top:-375px;overflow:hidden;float:left;">
<img src="http://img01.taobaocdn.com/imgextra/i1/42635718/T2blIeXjhXXXXXXXXX_!!42635718.png" style="float:left;">
<img src="${picUrl.replace("S4","S5")}" style="width:328.0px;height:328.0px;margin-left: -356px;margin-top: 22px;float: left;">
</div>
#elseif($i%2==1)
<div style="width:750.0px;height:375px;overflow:hidden;float:left;overflow:hidden;">
<img src="http://img04.taobaocdn.com/imgextra/i4/42635718/T2uIQiXbBaXXXXXXXX_!!42635718.png">
</div>
</div>
<div style="width:375px;height:375px;margin-top:-375px;overflow:hidden;float:left;">
<img src="${picUrl}" style="width:500.0px;height:500.0px;margin-left: -65px;margin-top: -65px;float: left;">
<img src="http://img01.taobaocdn.com/imgextra/i1/42635718/T2blIeXjhXXXXXXXXX_!!42635718.png" style="float:left;margin-left: -435px;">
</div>
#else
<div style="width: 375px;height:375px;overflow:hidden;float:left;margin-top: -375px;margin-left: 375px;">
<img src="${picUrl}" style="width:500.0px;height:500.0px;float:left;margin-left: -65px;margin-top: -65px;">
<img src="http://img01.taobaocdn.com/imgextra/i1/42635718/T25eofXixXXXXXXXXX_!!42635718.png" style="float:left;margin-left: -435px;">
</div>
#end
#end
#end
<div style=" clear: both;height:1px;margin-top:-1px;overflow:hidden;background:#ffffff;"></div>

<div style="float:left;width:750.0px;height:345.0px;">			

<img src="http://img02.taobaocdn.com/imgextra/i2/42635718/T26AgfXb8XXXXXXXXX_!!42635718.png" style="float:left;width:750.0px;height:345.0px;">
</div>




</div>